<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Cultural Florida Travel Blog</title>
</head>
<body>
    <header>
        <h1>Cultural Florida Travel Blog</h1>
        <h3>Experience the Beauty of Florida</h3>
        <nav>
            <a href="#home">Home</a>
            {{#if loggedIn}}
            <a href="#logout">Logout</a>
            {{else}}
            <a href="#login">Login</a>
            {{/if}}
        </nav>
    </header>
    <main>
      {{{body}}}  
    </main>
    
</body>
</html>