<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="../../public/stylesheets/style.css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Cultural Florida Travel Blog</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Cultural Florida Travel Blog</a>
            </h1>
            <h3>Experience the Beauty of Florida</h3>
            <nav class="nav-bar">

                {{#if loggedIn}}
                <a href="/dashboard">dashboard</a>
                <button id="logout" class="btn-no-style">logout</button>
                {{else}}
                <a href="/login">login</a>
                <a href="/signup">signup</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>

        <footer>
            Thanks for visiting Cultural Florida!
        </footer>
    </div>
     {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>