<section class="post-list">
    {{#each posts as |post|}}

    {{!-- <li>
    {{> post-info post }}
  </li> --}}
    
    <div class="card">
        {{!--post image?--}} 
        <a href="{{cover_url}}"
    </div>
    {{/each}}
</section>