/*.post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
h3 {
  font-family: "dancing script", cursive;
  color: white;
}

/* .post {
    padding: 5px;
    border-radius: 10%;
} */
.login-form,
.signup-form,
.new-post-form {
  background-color: white;
  padding: 5px;
  margin: auto;
}
* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #225ca3;
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-weight: bolder;
  font-size: 1.2em;
}

.title a {
  font-size: 1.8em;
  font-weight: bolder;
  color: #225ca3;
}

.title img {
  padding: 10px 0 10px 0;
  width: 50%;
  height: 60%;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
}

textarea {
  min-width: 40%;
  min-height: 100px;
  background-color: #ccc;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
  font-size: 1.2em;
  color: #333;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  background-color: #72acf3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h3 {
  font-weight: bold;
  margin: auto;
  justify-content: center;
}

.nav-bar a {
  font-size: 1em;
  padding-right: 10px;
}

.nav-bar a:hover {
  color: #3486eb;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.nav-bar h1 {
  font-size: 16px;
  font-weight: bold;
  margin: auto auto auto 15px;
  padding-bottom: 15px;
}

.nav-bar h1 a {
  color: rgb(67, 65, 65);
}
main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0 15px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
  color: #333;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color 0.1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  font-weight: bold;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
